---
---

@import "{{ site.theme }}";
@font-face {
    font-family: 'B Titr';
    src: url('http://www.fonts2u.com/download/b-titr-bold.font-face');
}
@font-face {
    font-family: 'B Nazanin';
    src: url('http://www.fonts2u.com/download/b-nazanin-bold.font-face');
}
p,h5{
 font-family: 'B Nazanin';
 text-align:justify;  
 text-justify:inter-word; 
}
h4{
 font-family: 'B Titr'; 
}
